/* --------------------------------------------------------
    CONTENTS - LAYOUT
    ---
    CONTAINER ........................ Base `.container` structure
    NAV .............................. Base `nav` structure
    MAIN ............................. Base `main` structure
    HEADER ........................... Base `header` structure
    	ARTICLE HEADER ............... Base `header` structure within an `article` element
    ISLAND ........................... Generic `.island` object
    ARTICLE .......................... Base `article` structure
    FOOTNOTES ........................ Base `article` structure
    SWATCHES ......................... Base `.swatches` structure
    DOS AND DONTS .................... Base `.do-and-donts` structure
    COPYRIGHT ........................ Base `.copyright` structure
-------------------------------------------------------- */

/* --------------------------------------------------------
	CONTAINER
-------------------------------------------------------- */

.content-width {
	margin: 0 auto;
	width: $max-width;
	position: relative;
}

/* --------------------------------------------------------
	HEADER
-------------------------------------------------------- */

.site-header {
	background: $datasift-night-sky;
	height: 2em;
}

/* --------------------------------------------------------
	NAV
-------------------------------------------------------- */

nav {
	padding-top: 4em;
	position: fixed;
	width: 200px;

	ul {
		@extend .plain-ul;

		li {
			padding: .5em 0;
			border-bottom: 1px solid $border-color;
		}

	}

}

/* --------------------------------------------------------
	MAIN
-------------------------------------------------------- */

main {}

/* --------------------------------------------------------
	HEADER
-------------------------------------------------------- */

header {}

article header {
	position: relative;
	padding: 2em 0;

	.anchor {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -8px;
	}

}

/* --------------------------------------------------------
	ISLAND
	---
	Generic island object
-------------------------------------------------------- */

.island {
	margin-bottom: 2em;
}

/* --------------------------------------------------------
	ARTICLE
	---
	A generic article object
-------------------------------------------------------- */

.article {

}

.chart-types {
	margin: 0;
	list-style: none;
	padding: 0;
	border: 1px solid $datasift-ash;
	border-left: none;
	border-bottom: none;
	overflow: hidden;

	li {
		width: 50%;
		float: left;
		box-sizing: border-box;
		border-left: 1px solid $datasift-ash;
		border-bottom: 1px solid $datasift-ash;
		padding: 10px;
	}
}

/* --------------------------------------------------------
	FOOTNOTES
-------------------------------------------------------- */

article footer {
	border-top: 1px solid $border-color;
	padding: 1em 0;
	margin: 2em 0 0 0;
	color: $text-color-light;

	p,
	ul {
		font-size: .875em;
		margin: 0;
	}
}