/* --------------------------------------------------------
	CONTENTS - TOOLTIPS
	---
	BASE ............................. Basic tooltip styles
	OFFSETS .......................... Specific tooltip offsets (above icons etc)
-------------------------------------------------------- */

[data-tip] {
	position: relative;
}
[data-tip]:before {
	content: '';
	display: none;
	border: 5px solid #1a1a1a;
	border-top-color: #1a1a1a;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	position: absolute;
	top: -7px;
	left: 10px;
	z-index: 8;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
[data-tip]:after {
	display: none;
	content: attr(data-tip);
	position: absolute;
	top: -35px;
	left: 0px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 9;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	text-align: center;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display: block;
}

/* --------------------------------------------------------
	OFFSETS
	---
	Specific offset values
-------------------------------------------------------- */

/* Anchor icon tooltip */

.anchor[data-tip]:before {
	left: 6px;
}

.anchor[data-tip]:after {
	width: 60px;
	left: -25px;
}